{{#if certifications}}
    <div class="section">
        <h3>Certifications</h3>
        <ul class="item-list">
            {{#each certifications}}
            <li>
                <strong>{{name}}</strong> - {{issuingOrganization}} ({{year}})
            </li>
            {{/each}}
        </ul>
    </div>
{{/if}}