{{#if education}}
    <div class="section">
        <h2>Education</h2>
        <ul class="item-list">
            {{#each education}}
            <li>
                <strong>{{degree}}</strong>, {{institution}} ({{year}})
            </li>
            {{/each}}
        </ul>
    </div>
{{/if}}