{{#if languages}}
    <div class="section">
        <h3>Languages</h3>
        <ul class="item-list">
            {{#each languages}}
            <li>
                {{language}} ({{proficiency}})
            </li>
            {{/each}}
        </ul>
    </div>
{{/if}}