{{#if skills}}
    <div class="section">
        <h2>Skills</h2>
        <ul class="skills">
            {{#each skills}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
{{/if}}